

{%extends 'app/base/base.html'%}
{%load static%}

{% block contenido%}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'cosmujer/css/cosmujer.css'%}">
    <title>Cosplays Mujer</title>
</head>
<body>
    <section class="contenido">
        <div class="mostrador" id="mostrador">
            <div class="fila">
                <div class="item" onclick="cargar(this)">
                    <div class="contenedor-foto">
                        <img src="{%static 'imagenes/yumeko.jpeg'%}" alt="">
                    </div>
                    <p class="descripcion">Yumeko</p>
                    <span class="precio">$25.990</span>
                </div>
                <div class="item" onclick="cargar(this)">
                    <div class="contenedor-foto">
                        <img src="{%static 'imagenes/cosplmitsuri.jpg'%}" alt="">
                    </div>
                    <p class="descripcion" id>Mitsuri </p>
                    <span class="precio">$29.990</span>
                </div>
                <div class="item" onclick="cargar(this)">
                    <div class="contenedor-foto">
                        <img src="{%static 'imagenes/nier.jpg'%}" alt="">
                    </div>
                    <p class="descripcion">Nier
                    </p>
                    <span class="precio">$30.990</span>
                </div>
                <div class="item" onclick="cargar(this)">
                    <div class="contenedor-foto">
                        <img src="{%static 'imagenes/yoor.jpg'%}" alt="">
                    </div>
                    <p class="descripcion">Yoor</p>
                    <span class="precio">$27.990</span>
                </div>
            </div>
            <div class="fila">
                <div class="item" onclick="cargar(this)">
                    <div class="contenedor-foto">
                        <img src="{%static 'imagenes/cosplay violet.jpg'%}" alt="">
                    </div>
                    <p class="descripcion">Violet </p>
                    <span class="precio">$42.990</span>
                </div>
                <div class="item" onclick="cargar(this)">
                    <div class="contenedor-foto">
                        <img src="{%static 'imagenes/cosplay nezuko.jpg'%}" alt="">
                    </div>
                    <p class="descripcion">Nezuko Kamado</p>
                    <span class="precio">$25.500</span>
                </div>
                <div class="item" onclick="cargar(this)">
                    <div class="contenedor-foto">
                        <img src="{%static 'imagenes/kanao.jpg'%}" alt="">
                    </div>
                    <p class="descripcion">Cosplay Kanao </p>
                    <span class="precio">$35.990</span>
                </div>
                <div class="item" onclick="cargar(this)">
                    <div class="contenedor-foto">
                        <img src="{%static 'imagenes/Cosplay Sakura.jpg'%}" alt="">
                    </div>
                    <p class="descripcion">Cosplay Sakura Haruno</p>
                    <span class="precio">$38.990</span>
                </div>
            </div> 
        </div>
        <!-- CONTENEDOR DEL ITEM SELECCIONADO -->
        <div class="seleccion" id="seleccion">
            <div class="cerrar" onclick="cerrar()">
                &#x2715
            </div>
            <div class="info">
                <img src="img/1.png" alt="" id="img">
                <h2 id="modelo">NIKE MODEL 1</h2>
                <p id="descripcion">Descripción Modelo 1</p>

                <span class="precio" id="precio">$ 130</span>

                <div class="fila">
                    <div class="size">
                        <label for="">talla</label>
                        <select name="" id="">
                            <option value="">S</option>
                            <option value="">M</option>
                            <option value="">L</option>
                            <option value="">XL</option>
                            <option value="">XXL</option>
                        </select>
                    </div>
                    <button>AGREGAR AL CARRITO</button>
                </div>
            </div>
        </div>
    </section>

    <script src="{% static 'cosmujer/js/cosmujer.js'%}"></script>
</body>
</html>



{% endblock %}